{% extends 'base.html' %}
{% block content %}
<h1>add</h1>
<form method="POST">
    <p>
        <label>Name:</label>
        <select name="name" id="examiner-select" required>
            <option value="">-- Select Examiner --</option>
            {% for e in examiners %}
                <option value = "{{ e['Name']}}" data-id="{{ e['Id'] }}" data-status="{{ e['Status']}}">
                    {{ e['Name']}}
                </option>
            {%endfor%}
        </select>
        <input type ="hidden" name="examinerid" id="examiner-id">
    </p>
    <p>
        <label>Exam:</label>
        <select name="exam" required>
            <option value="">-- Select Exam --</option>
            {% for ex in exams %}
                <option value = "{{ ex['Name']}}">
                    {{ ex['Name']}}
                </option>
            {%endfor%}
        </select>   
    </p>
    <p>
        <label>Comments:</label><br>
        <textarea  name="comment"style="width: 300px; height: 50px;"></textarea>
    </p>
    <p>
        <label>Current Status:</label>
        <input type="text" id="current-status" readonly disabled>

    </p>
    <p>
        <button type="button" id="show-status-update">Update Status</button>
    </p>
    <p id="status-update-section" style="display: none;">
        <label>New Status:</label>
        <select name="status">
            <option value="">-- Select New Status --</option>
            {% for s in statuses%}
                <option value="{{ s['Type']}}">
                    {{ s['Type']}}
                </option>
            {%endfor%}
            
        </select>

    </p>
    <p>
        <button type="submit">Submit</button>
    </p>
</form>
<script>
    const examinerSelect = document.getElementById('examiner-select');
    const examinerIdInput = document.getElementById('examiner-id')
    const currentStatusField = document.getElementById('current-status')

    examinerSelect.addEventListener('change',function(){
        const selectedOption = this.options[this.selectedIndex];
        examinerIdInput.value = selectedOption.dataset.id;
        currentStatusField.value = selectedOption.dataset.status || "";

    });

    document.getElementById('show-status-update').addEventListener('click', function(){
        document.getElementById('status-update-section').style.display = 'block';
    })
</script>
{% endblock %}